
@{
    ViewBag.Title = "Importar";
    Layout = "~/Views/Shared/LayoutAside.cshtml";
}





<div class="container-fluid py-4">
    <h1 class="admin-big-title">IMPORTAR ARCHIVO OCUPACIONES</h1>
    <span class="gn-orange-line mb-4"></span>


</div>

